<%- include('../includes/head.ejs' ) %>
<link href="/css/forms.css" rel="stylesheet" />
<link href="/css/auth.css" rel="stylesheet" />
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage.length > 0) { %>
        <div class="user-message user-message--error"> <%= errorMessage %> </div>
        <% } %>
        <form action="/login" method="POST" class="login-form">
            <div class="form-control">
                <label for="email"> Email </label>
                <input class="<%= validationErrors.find(e => e.param == 'email') ? 'invalid' : ""%>" type="email"
                    name="email" id="email" value="<%= oldInput.email %>" />
            </div>
            <div class="form-control">
                <label for="password"> Password </label>
                <input class="<%= validationErrors.find(e => e.param == 'password') ? 'invalid' : ""%>" type="password"
                    name="password" id="password" value="<%= oldInput.password%>" />
            </div>
            <input type='hidden' name="_csrf" value=<%= csrfToken %>>
            <button type="submit" class='btn'> Login </button>
            <a href="/reset"> Forgot Your Password? </a>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>