<%- include('../includes/head.ejs' ) %>
<link href="/css/forms.css" rel="stylesheet" />
<link href="/css/auth.css" rel="stylesheet" />
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage.length > 0) { %>
        <div class="user-message user-message--error"> <%= errorMessage %> </div>
        <% } %>
        <form action="/reset" method="POST" class="login-form">
            <div class="form-control">
                <label for="email"> Email </label>
                <input type="email" name="email" id="email" />
            </div>
            <input type='hidden' name="_csrf" value=<%= csrfToken %>>
            <button type="submit" class='btn'> Reset Password </button>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>