<%- include('../includes/head.ejs' ) %>
<link href="/css/products.css" rel="stylesheet" />
<link href="/css/forms.css" rel="stylesheet" />
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <form action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST"
            class="product-form">
            <div class="form-control">
                <label for="title"> Title </label>
                <input type="text" name="title" id="title" value="<%= editing === 'true' ? product.title : '' %>" />
            </div>
            <div class="form-control">
                <label for="imageUrl"> Image Url </label>
                <input type="text" name="imageUrl" id="imageUrl"
                    value="<%= editing === 'true' ? product.imageUrl : '' %>" />
            </div>
            <div class="form-control">
                <label for="price"> Price </label>
                <input type="number" name="price" id="price" step="0.01"
                    value="<%= editing === 'true' ? product.price : '' %>" />
            </div>
            <div class="form-control">
                <label for="description"> Description </label>
                <textarea rows="5" name="description"
                    id="description"><%= editing === 'true' ? product.description : '' %></textarea>
            </div>
            <% if (editing) { %>
            <input type='hidden' value="<%= product._id %>" name="productId">
            <% } %>
            <input type='hidden' name="_csrf" value=<%= csrfToken %>>
            <button type="submit" class='btn'><% if (editing) { %>
                Update Product
                <% } else  { %>
                Add Product
                <% } %> </button>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>